.invite--flow {
  display: flex;
  flex-wrap: wrap; 
}

.invite--flow fieldset {
  margin-top: 0 !important;
}

.invite--flow .help-block {
  line-height: 1.5;
  margin-bottom: 5px;
}

.invite--flow  > div {
  margin: 0;
  width: 300px;
}

form:not(.layout-builder-configure-block) fieldset.invite-flow-users  {
  margin-top: 1.25rem;
}

.multiselect-wrapper select.form-multiselect {
  width: 400px !important;
}

div.multiselect-available, div.multiselect-selected {
  width: 400px  !important;
}

#views-exposed-form-invite-flow-log-page .form-item {
  float: left;
}

#views-exposed-form-invite-flow-log-page .form-actions {
  margin-top: 34px;
  padding-left: 12px;
}


