#social-event-invite-flow-join-virtual-event-as-guest input {
  max-width: 100%;
}

.listing__event_managers a {
  display: inline-block;
  padding: 0 4px 0 4px;
}

#timer__display {
  font-size: 1.2rem;
  padding: 12px;
}

.invisible {
  visibility: hidden;
}

.event__start__container {
  min-height: 60px;
}

.wrapper {
  padding: 20px;
  margin: auto;
  margin-top: 70px;
  background: #fff;
}

.flex-row {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.first-column {
  padding: 20px;
}

.blue-column {
    padding: 20px;
}

.teaser__title,
.body-text {
  text-align: center;
}


@media all and (min-width: 1200px) {
  .wrapper {
    width: 1000px;
  }
}



@media all and (min-width: 800px) {
  .wrapper {
    width: 800px;
  }
  .flex-row {
    display: flex;
    flex: 2;
  }  
}



