  <h1 class="teaser__title"><span>{{ event_title }}</span></h1>
  <div class='flex-row'>
    <div class='column'>
      <div class='first-column'>
    <div class="listing__event_managers margin-bottom-l margin-top-l">      
      {{ event_managers }}
    </div>
        <div class="content margin-bottom-l  margin-top-l">    
      {{ content }}
    </div>
    <div class="event__start__container margin-bottom-l  margin-top-l">
      <span id="timer__display" class="badge badge--pill badge-primary"></span>
    </div>    
      </div>
    </div>

    {% if event_image or form %}
    <div class='column'>
      <div class='second-column'>
        {% if event_image %}
          <div id="event__image">    
            {{ event_image }}
          </div>  
        {% endif %}
        {% if form %}
          {{ form }}   
        {% endif %}
      </div>
    </div>
  {% endif %}
  </div>  




 


